<script setup lang="ts">
import FacyButton from "@/components/FacyButton.vue";
import { mdiHeartOutline, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FacyButton>
          <v-icon :icon="mdiHeartOutline" />Love Me
          <template v-slot:tail> Tail </template>
        </FacyButton>
      </v-col>
      <v-col>
        <FacyButton>
          <template #tail
            ><v-icon :icon="mdiCursorDefaultClickOutline"
          /></template>
          Click Me</FacyButton
        >
      </v-col>
    </v-row>
  </v-container>
</template>
