<script setup lang="ts"></script>

<template>
  <v-card class="mx-auto" max-width="800" color="#D7C0AE">
    <v-card-title style="font-family: 'Arial Narrow Bold'; text-align: center">
      My Portfolio
    </v-card-title>
    <v-img
      src="https://media.discordapp.net/attachments/893184300583882802/1054153050375336047/download20221201044727.png"
      max-height="450"
      cover
      class="bg-grey-lighten-2"
    ></v-img>
    <v-tabs fixed-tabs v-model="tab" bg-color="#967E76" class="text-white">
      <v-tab value="1" style="font-size: large">About</v-tab>
      <v-tab value="2" style="font-size: large">Education</v-tab>
      <v-tab value="3" style="font-size: large">Interesting</v-tab>
    </v-tabs>

    <v-card-text>
      <v-window v-model="tab">
        <v-window-item value="1">
          <v-row justify="center">
            <v-col cols="10">
              <v-table style="background-color: #d7c0ae"
                ><tbody>
                  <tr>
                    <th style="font-size: larger">Name:</th>
                    <td style="font-size: larger">Ubolthip Tantrakool</td>
                  </tr>
                  <tr>
                    <th style="font-size: larger">Date of birth:</th>
                    <td style="font-size: larger">November 19, 2002</td>
                  </tr>
                  <tr>
                    <th style="font-size: larger">Age:</th>
                    <td style="font-size: larger">20</td>
                  </tr>
                  <tr>
                    <th style="font-size: larger">Address:</th>
                    <td style="font-size: larger">
                      Wachira Prakan Rd., Muang Chonburi, ChonBuri, 20000
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col cols="3">
              <v-img
                src="https://media.discordapp.net/attachments/864788836407181332/1054161796723900487/IMG_20220122_071552.jpg"
              >
              </v-img> </v-col
            ><v-col cols="3">
              <v-img
                src="https://media.discordapp.net/attachments/864788836407181332/1054162270428610700/20210913_013718.jpg?width=686&height=686"
              >
              </v-img>
            </v-col>
            <v-col cols="3">
              <v-img
                src="https://media.discordapp.net/attachments/864788836407181332/1054161175358742568/20220119_133226.jpg?width=681&height=686"
              >
              </v-img>
            </v-col>
          </v-row>
        </v-window-item>

        <v-window-item value="2"
          ><v-timeline side="end">
            <v-timeline-item dot-color="#483434" size="small">
              <div class="d-flex">
                <strong class="mr-4">2021-2024</strong>
                <div>
                  <strong>Bachelor in Computer Science</strong>
                  <div class="text-caption">Burapha University</div>
                </div>
              </div>
            </v-timeline-item>

            <v-timeline-item dot-color="#6B4F4F" size="small">
              <div class="d-flex">
                <strong class="mr-4">2019-2021</strong>
                <div>
                  <strong>Graduated from High School</strong>
                  <div class="text-caption mb-2">Bansuanjananusorn School</div>
                </div>
              </div>
            </v-timeline-item>
          </v-timeline>
          <v-container
            ><v-img
              src="https://www.architects110.com/wp-content/uploads/2017/04/5426_View-2-1.jpg"
              max-height="200"
            ></v-img
          ></v-container>
        </v-window-item>

        <v-window-item value="3">
          <v-row justify="center">
            <v-col cols="10">
              <v-table style="background-color: #d7c0ae; text-align: right"
                ><tbody>
                  <tr>
                    <th>
                      <v-avatar rounded="0">
                        <v-img
                          src="https://cdn-icons-png.flaticon.com/512/4396/4396623.png"
                        ></v-img>
                      </v-avatar>
                    </th>
                    <td>Coding</td>
                  </tr>
                  <tr>
                    <th>
                      <v-avatar rounded="0">
                        <v-img
                          src="https://cdn-icons-png.flaticon.com/512/3199/3199863.png"
                        ></v-img>
                      </v-avatar>
                    </th>
                    <td>Drawing</td>
                  </tr>
                  <tr>
                    <th>
                      <v-avatar rounded="0">
                        <v-img
                          src="https://cdn-icons-png.flaticon.com/512/3202/3202822.png"
                        ></v-img>
                      </v-avatar>
                    </th>
                    <td>Cooking</td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
          <v-container>
            <v-carousel height="230">
              <v-carousel-item
                src="https://img.freepik.com/free-photo/turned-gray-laptop-computer_400718-47.jpg?w=996&t=st=1671399474~exp=1671400074~hmac=db45fe3a9fd70c4c2cd31a6027cabbe7c545a21494114a3ee7b8a148db4f92ca"
                cover
              ></v-carousel-item>

              <v-carousel-item
                src="https://img.freepik.com/free-photo/close-up-different-colorful-flowers-nature-design-painted-with-brush-watercolors-paper_171337-11001.jpg?w=996&t=st=1671399505~exp=1671400105~hmac=01a605e1326545f860bd3723b7bb68ddc94aab90c130d751d4a706f0350c2742"
                cover
              ></v-carousel-item>

              <v-carousel-item
                src="https://img.freepik.com/free-photo/young-woman-is-preparing-salad-kitchen_169016-2274.jpg?size=626&ext=jpg&ga=GA1.2.614521112.1659860435&semt=sph"
                cover
              ></v-carousel-item>
            </v-carousel>
          </v-container>
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    tab: null,
  }),
};
</script>
